extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Youssef M K

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | We are lucky to live in current century, because not long ago, about 100 years ago,the Spanish flu killed more 50 million,
            | now aday with technologies that we have we can sequence and understand how virus and microorganismes work.
            |many current problems we have can easiely solved with coding. that s why I love coding.
          p 
            | I m scientist, I studied in Universite de Montreal and worked as Biochimist for couple of years, before rethinking how I can make bigger impact, I saw that coding can make our future brighter.
            | I learned Ruby, then now I m learning JavaScript, and the mighty Python. 
          
          p 
            | If you are Nonprofit Organization or a developer working on a project that help children, I would be honner to help!
            | I hope for a better future for all, making difference like Jonas Salk did !!

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li javascript 
            small Node - Express - React
          li SQL & No-SQL 
            small SQL - MongoDB
          li Python
            small  Data Analyst - Panda
          li Ruby 
            small Rails
        h6 Contact Info

        ul
          li 
            a(href=`mailto:youssef@devmyk.com`) eMail 

        a.button.expanded(href='https://github.com/ykassabi') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  