extends layout.pug

block content 

  article.grid-container.portfolio-intro
    div
      h1 DEVMYK Showcase
      |  
      p.lead.text-light
        | I m not good with words that's why I prefer pictures. 
  article.grid-container.portfolio-index
    ul
      li.grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
        each val in data
            .cell
                a(href=`/project/${val.id}`)
                  img.thumbnail(src=`${val.image_urls}`)
                  h5= val.project_name

